# This is the cfg file for virt-inst.sh
# It provides information about your libvirt environment
# for provisioning with a ks.cfg file that is created.

DOMAIN="laptop.prayther"	# whatever you want example.com
SERVER="10.0.0.1"
URL="http://${SERVER}/ks"	# 192.168.122.1 would be default. I setup 10.0.0.0 without DHCP
NETWORK="laptoplab"		# 'default' is normal, I create laptoplab for 10.0.0.0
NET="10.0.0.0"
NAME="10.0.0.0/24"
MASK="255.255.255.0"
IP="10.0.0.8"			# static ip for vm being created
MASK="255.255.255.0"
GATEWAY="${SERVER}"
NIC="eth0"
AUTOCONF="none"
DISC="vda"			# vda for libvirt
OS="rhel"
OSVER="7"
OSVERSION="7.3"
UNIQ=${VMNAME}_$(date '+%s')

# Vars from here down are generated based on command line parameters:
# virt-install.sh <vmname> <disc in GB> <vcpus> <ram>
# virt-install.sh testvm 10 2 2048
# If you rerun virt-inst.sh it replaces the variables below with
# a sed command that deletes the line if it exists.



# Host Groups
#HGNAME="HG_Openshift_Hosts_Infra_Dev"
#NETNAME='10.64.30.0/24'
#MEDID=$(hammer --csv medium list | grep 'Red_Hat_6_Server_Kickstart_x86_64_6_5' | cut -d, -f1)
#ENVID=$(hammer --csv environment list | grep  ANZ_Openshift_Apps_Dev_CCV_Openshift2_1_RHEL6_5_Infra | cut -d, -f1) ; echo $ENVID
#PARTID=$(hammer --csv partition-table list | grep 'Redhat' | cut -d, -f1)
#OSID=$(hammer --csv os list | grep 'RedHat 6.5' | cut -d, -f1)
#DOM=anzlab.bne.redhat.com
#CAID=1
#PROXYID=1
#hammer hostgroup create --architecture="x86_64" --domain="${DOM}" --environment-id="${ENVID}" --medium-id="${MEDID}" --name="${HGNAME}" --subnet="${NETNAME}" --ptable-id="${PARTID}" --operatingsystem-id="${OSID}" --puppet-ca-proxy-id="${CAID}" --puppet-proxy-id="${PROXYID}"
#hammer location add-hostgroup --name SA.Demo.ANZ --hostgroup $HGNAME
VMNAME=sat
DISC_SIZE=300
VCPUS=4
RAM=6144
