default go
prompt 0
timeout 0
display boot.msg
F1 boot.msg
F2 options.msg
F3 general.msg
F4 param.msg
F5 rescue.msg
label go
  kernel vmlinuz
  append initrd=initrd.img ks=http://nces-sb-vm-01.chs.spawar.navy.mil/cblr/svc/op/ks/profile/nagios-dev6-nets:2:ges ksdevice=eth0 lang=   text ip=150.125.75.214 kssendmac gateway=150.125.75.1 netmask=255.255.255.0 dns=150.125.132.20
label linux
  kernel vmlinuz
  append initrd=initrd.img
label text
  kernel vmlinuz
  append initrd=initrd.img text
label ks
  kernel vmlinuz
  append ks initrd=initrd.img
label local
  localboot 1
label memtest86
  kernel memtest
  append -

