network --device=eth0 --bootproto=static --ip=10.0.0.3 --netmask=255.255.255.0 --gateway=10.0.0.1 --nameserver=10.0.0.1 --hostname=mon.laptop.prayther
