network --device=eth0 --bootproto=static --ip=10.0.0.40 --netmask=255.255.255.0 --gateway=10.0.0.1 --nameserver=10.0.0.1 --hostname=pace-01.example.org

#%addon org_fedora_oscap
#content-type = scap-security-guide
#profile = stig-rhel7-disa
#%end
